#app,
body,
html {
  width: 100%;
  height: 100%;
  background-color: #2c3039;
  color: #a8acb6;
}

.el-select {
  width: 100%;
}

// /* Select */
// .ivu-select,
// .ivu-select-input {
//   color: var(--color-text-title);
// }
// .ivu-select-selection {
//   background-color: transparent;
//   border: 1px solid var(--color-border-normal);
// }
// .ivu-select-disabled .ivu-select-selection {
//   background-color: transparent;
//   color: var(--color-text-title);
// }
// .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
//   color: #5f636d;
// }
// .ivu-select .ivu-select-dropdown {
//   max-width: 100% !important;
//   max-height: 300px;
// }
// .ivu-select.custom-select .ivu-select-item {
//   border-bottom: 1px solid #e8eaec;
//   &:last-child {
//     border-bottom: 0px;
//   }
//   .title {
//     font-weight: 500;
//     font-size: 16px;
//     padding: 0 2px;
//   }
//   .tag {
//     float: right;
//   }
//   .info {
//     padding-top: 10px;
//     color: #848484;
//     padding: 10px 2px 0px 2px;
//   }
//   .description {
//     padding: 16px 0px 12px 0px;
//     white-space: break-spaces;
//     line-height: 1.5;
//   }
// }

// /* Input */
// .ivu-input {
//   background: transparent;
//   border: 1px solid var(--color-border-normal);
//   color: var(--color-text-title);
// }
// .ivu-input[disabled],
// fieldset[disabled] .ivu-input {
//   background-color: transparent;
//   color: var(--color-text-title);
// }
// .ivu-select-input,
// .ivu-input-number-input,
// .ivu-input {
//   &::placeholder {
//     color: #5f636d;
//   }
//   &::-webkit-input-placeholder {
//     /* WebKit browsers 适配谷歌 */
//     color: #5f636d;
//   }
//   &:-moz-placeholder {
//     /* Mozilla Firefox 4 to 18 适配火狐 */
//     color: #5f636d;
//   }
//   &::-moz-placeholder {
//     /* Mozilla Firefox 19+ 适配火狐 */
//     color: #5f636d;
//   }
//   &:-ms-input-placeholder {
//     /* Internet Explorer 10+  适配ie*/
//     color: #5f636d;
//   }
// }
// textarea.ivu-input {
//   font-size: 16px;
// }

// /* InputNumber */
// .ivu-input-number {
//   width: 100%;
// }
// .ivu-input-number,
// .ivu-input-number-input {
//   background: transparent;
//   border: 1px solid var(--color-border-normal);
//   color: var(--color-text-title);
// }
// .ivu-input-number-handler-wrap {
//   background-color: transparent;
//   color: var(--color-text-title);
//   border: none;
//   .ivu-input-number-handler-down {
//     border-top: none;
//   }
// }
// .ivu-input-number-disabled {
//   background-color: transparent;
//   color: var(--color-text-title);
//   .ivu-input-number-input {
//     background-color: transparent;
//   }
// }